body {
	background-image: url(Images/b.jpg);
	background-position:center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	background-size:contain;
}
#page_title {
	opacity: .6;
	font-size: 2.5em;
}
#smash{
	box-shadow: none;
	width: 100px;
	height: 25px;
	padding: 10px;
}